[submodule "models/trento"]
	path = models/trento
	url = git@github.com:Yingru/trento.git
[submodule "models/vhlle"]
	path = models/vhlle
	url = git@github.com:Yingru/vhlle.git
[submodule "models/frzout"]
	path = models/frzout
	url = git@github.com:Yingru/frzout.git
[submodule "models/urqmd-afterburner"]
	path = models/urqmd-afterburner
	url = git@github.com:Yingru/urqmd-afterburner.git
[submodule "models/HQ_sample"]
	path = models/HQ_sample
	url = git@github.com:Yingru/HQ_sample.git
[submodule "models/diffusion"]
	path = models/diffusion
	url = git@github.com:Yingru/diffusion.git
[submodule "models/fragPLUSrecomb"]
	path = models/fragPLUSrecomb
	url = git@github.com:Yingru/fragPLUSrecomb.git
[submodule "models/bmsap"]
	path = models/bmsap
	url = git@github.com:Yingru/bmsap.git
